test-xml/src/main/java/comparation/book.xsd

<xs:schema targetNamespace="http://www.test.com/book" xmlns="http://www.test.com/book" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="books" type="booksType" />
	<xs:element name="book" type="bookType" />

	<xs:complexType name="booksType">
		<xs:sequence>
			<xs:element ref="book" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="author" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" />
	</xs:complexType>

</xs:schema>