test-xml/src/main/java/comparation/xsd/country.xsd

<xs:schema targetNamespace="http://www.test.com/country" xmlns="http://www.test.com/country" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="CHN" type="xs:string" />
	<xs:element name="ENG" type="xs:string" />
	<xs:element name="USA" type="xs:string" />

</xs:schema>